body {
    background-color: rgb(34, 32, 32);
  }
nav {
    background-color:rgb(34, 32, 32);
  }
.subtitle{
    font-size: 52px;
    color: white;
    line-height: 220%;
    text-align: center;
}
td{
    color: white;
}
th{
    color: white;
}
thead{
    color: white;
}
label.form-label{
    line-height: 180%;
    border-color: black;
    color: white;
    padding-left: 3px;
}
ul.navbar-nav{
    position: relative;
    text-align: right;
    font-size: 20px;
}

.scrollable{
    height: 50%;
    overflow: auto;
}